---
// src/pages/index.astro
const title = "Fund 78";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>{title}</title>
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:wght@400;700&display=swap"
		rel="stylesheet"
	/>
	<style>
		* {
			font-family: "Playfair Display", serif;
			overscroll-behavior-x: none;
		}

		.centered {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
</head>
<body>
<div class="centered">
	<h1>Fund 78</h1>
	<p>---</p>
	<p>Hope wins</p>
	<p>The story is there</p>
	<p>The choice is yours</p>
</div>
</body>
</html>